{{define "metrics"}}
<div class="metric-bar">
    <span class="metric-chip">
        <span class="material-icons-outlined">language</span>
        <span class="metric-chip-value">{{.TotalIPs}}</span> IPs
    </span>
    <span class="metric-chip">
        <span class="material-icons-outlined">mail</span>
        <span class="metric-chip-value">{{.TotalVolume}}</span> emails
    </span>
    <span class="metric-chip">
        <span class="material-icons-outlined">verified</span>
        <span class="metric-chip-value">{{.PassRateStr}}</span> pass
    </span>
</div>
{{end}}
