{{define "sidebar"}}
<div class="search-row">
    <label>From</label>
    <input type="date" name="start_date" value="{{.StartDate}}" min="{{.MinDate}}" max="{{.MaxDate}}">
</div>
<div class="search-row">
    <label>To</label>
    <input type="date" name="end_date" value="{{.EndDate}}" min="{{.MinDate}}" max="{{.MaxDate}}">
</div>
<div class="search-row">
    <label>Domain</label>
    <select name="domains" multiple>
        {{range .AllDomains}}
        <option value="{{.}}" {{range $.SelectedDomains}}{{if eq . $}}selected{{end}}{{end}}>{{.}}</option>
        {{end}}
    </select>
</div>
<div class="search-row">
    <label>Org</label>
    <select name="orgs" multiple>
        {{range .AllOrgs}}
        <option value="{{.}}" {{range $.SelectedOrgs}}{{if eq . $}}selected{{end}}{{end}}>{{.}}</option>
        {{end}}
    </select>
</div>
{{end}}
